@use '../../styles/global.scss' as *;

.home__block {
    gap: 3%;

    position: relative;
    min-height: 90dvh;

    @include flex__box(row, flex-start);
    @include box(100%, 1%, auto, 5vh);
}

.additional__info__block {
    gap: 2vh;

    @include box(30%);
    @include flex__box(column);
}

.coins__body{
    gap: 0.5vw;

    @include box(100%);
    @include flex__box(row, center, flex-start);

    & .coins__value{
        @include text(130%, 800, $fontColorMain);
    }

    & .coins__img__wrapper{
        @include img_box(3vw);
    }
}

.hydro__avatar__block {
    position: absolute;
    right: 0;
    bottom: 0;

    @include box(30%, 0);
    
    & .hydro__avatar__wrapper__img {
        @include img_box(95%, 100%);

        & img {
            transition: .4s;
        }
    }
}