@use '../../styles/global.scss' as *;

.home__block {
    gap: 3%;

    position: relative;
    min-height: 90dvh;

    @include flex__box(row, flex-start);
    @include box(100%, 1%, auto, 5vh);

    @media screen and (max-width: 800px) {
        flex-direction: column;
        width: 98%;
        padding: 0 1%;
        margin-top: 3vh;
    }
}

.additional__info__block {
    gap: 2vh;

    @include box(30%);
    @include flex__box(column);

    @media screen and (max-width: 800px) {
        gap: 1vh;
    }
}

.coins__body{
    gap: 0.5vw;

    @include box(100%);
    @include flex__box(row, center, flex-start);

    & .coins__value{
        @include text(130%, 800, $fontColorMain);
    }

    & .coins__img__wrapper{
        @include img_box(3vw);

        @media screen and (max-width: 800px) {
            width: 40px;
        }
    }
}

.hydro__avatar__block {
    position: absolute;
    right: 0;
    bottom: 0;

    @include box(30%, 0);
    
    & .hydro__avatar__wrapper__img {
        @include img_box(95%, 100%);

        & img {
            transition: .4s;
        }
    }

    @media screen and (max-width: 800px) {
        width: 60%;
    }
}