@use '../../../styles/global.scss' as *;

.user__btn{
    gap: 0.7vw;
    background: inherit;
    cursor: pointer;
    white-space: nowrap;
    
    @include flex__box(row, center, flex-end);
}

.avatar__wrapper__img{
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #FFF;
    flex: 0 0 auto;

    @include img_box(30px, auto);
}

.user__name{
    @include text(120%, 600, #FFF);
}

.arrow__wrapper__img{
    flex: 0 0 auto;

    @include img_box(10px, auto);
}
